= div_for variation do
  %h3
    = variation.batch_name
    %span.actions
      = link_to 'Delete', recipe_variation_path(:recipe_id => @recipe, :id => variation), :confirm => 'Are you sure?', :method => :delete