%h3 Listing batches

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @recipe.batches.each do |batch|
    %tr
      %td= batch.name
      %td= link_to 'Show', recipe_batch_path(batch)
      %td= link_to 'Edit', edit_recipe_batch_path(batch)
      %td= link_to 'Destroy', recipe_batch_path(batch), :confirm => 'Are you sure?', :method => :delete

%br

-# = link_to 'New Batch', new_recipe_batch_path
