= form_for @batch.do |f|
  .field
    =f.label :qty
    =f.text_field :qty
  .field
    =f.label :units
    =f.text_field :units
  .field
    =f.label :name
    =f.text_field :name
   
   .actions
   = f.submit 'Save'
